@import "../test/fixtures/bootstrap/headers";
@import "../test/fixtures/bootstrap/buttons";
@import "../test/fixtures/bootstrap/lists";

body {
  height: 100%;
  padding: 0;
}

form {
  background-color: #eee;
}
